/* CUSTOM FONTS */
@font-face {
    font-family: 'SailecRegular';
    src: url('fonts/SailecRegular.ttf');
}

@font-face {
    font-family: 'SailecLight';
    src: url('fonts/SailecLight.ttf');
}

@font-face {
    font-family: 'SailecRegular';
    src: url('fonts/SailecRegular.ttf');
}

@font-face {
    font-family: 'SailecMedium';
    src: url('fonts/SailecMedium.ttf');
}

@font-face {
    font-family: 'SailecBold';
    src: url('fonts/SailecBold.ttf');
}


/* NAVBAR */
.navbar-nav {
    display: none;
}

.navbar {
    font-family: 'SailecMedium','san-serif';
    background-color: #ffffff;
    font-size: 14px;
    top: 0;
}

.navbar-brand {
    height: 64px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-default .navbar-toggle {
    display: block;
    margin: 15px;
}

.navbar-header {
    float: none;
}

/* MAIN */
/* MOTTO */
.hero {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-size: 140%;
    background-position: center;
    margin-top: 64px;
    padding: 200px 0;
}

.hero .motto {
    color: #ffffff;
}

.hero .motto h1 {
    font-family: 'SailecBold','san-serif';
    font-size: 31px;
}

.hero .motto p {
    font-family: 'SailecLight','san-serif';
    font-size: 24px;
    margin: 20px 0;
}

.hero .login > div {
    width: 370px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0;
    margin: auto;
}

.hero .login h5 {
    font-family: 'SailecBold','san-serif';
    font-size: 18px;
    color: #031b4e;
    padding: 20px 0;
    margin: 0 0 20px 0;
    background-color: #f3f5f9;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
}

.hero .login input::placeholder {
    font-family: 'SailecRegular','san-serif';
    font-size: 16px;
    text-transform: capitalize;
}

.hero .login input:focus {
    border-color: #0069ff;
    outline: #0069ff;
    box-shadow: none;
}

.hero .login form {
    margin: 0 30px;
}

.hero .login .form-group {
    margin-bottom: 7px;
}

.hero .login .form-control {
    height: 48px;
    padding: 10px 20px;
}

.hero .login [type="submit"] {
    font-family: 'SailecBold','san-serif';
    background-color: #006aff;
    color: #ffffff;
    margin-bottom: 10px;
    border: none;
}

.hero .login .form-button .btn-default {
    color: #006aff;
    border: 1px solid #006aff;
    line-height: 34px;
}

.hero .login .form-button .btn-default:hover {
    border-color: #5b6886;
    color: #363636;
    background-color: transparent;
}

.hero .login .form-button .btn-default:first-of-type {
    float: left;
    width: calc((100% - 10px) * .8);
    margin-right: 6px;
}

.hero .login .form-button .btn-default:last-of-type {
    float: left;
    width: calc((100% - 10px) * .2);
}

.hero .login .form-button .btn-default:first-of-type span {
    margin-right: 5px;
}

.hero .login .form-button {
    margin: 30px;
}

.hero .login p {
    font-family: 'SailecRegular','san-serif';
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
}

.hero .login p a {
    font-family: 'SailecRegular','san-serif';
    color: #ffffff;
}


/* TRUST BADGES */
.trust-budges {
    background-color: #f3f5f9;
    padding: 70px 0;
}

.trust-budges h6 {
    font-family: 'SailecBold','san-serif';
    font-size: 14px;
    margin-bottom: 30px;
    color: rgb(91, 105, 135);
}

.trust-budges a {
    display: inline-block;
    font-family: 'SailecMedium','san-serif';
    font-size: 16px;
    color: #0069ff;
    margin-top: 30px;
    text-decoration: none;
}

.trust-budges a:hover {
    color: #1633ff
}

.trust-budges img {
    max-width: 150px;
}

.trust-budges div a:after {
    content:'\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-left: 5px;
}

/* SERVICE DESCRIPTION */
.service-description {
    margin-top: 30px;
}

.service-description .wrapper {
    max-width: 780px;
    margin: auto;
}

.service-description .row.top {
    margin: 50px 0;
}

.service-description .row.bottom div {
    margin-bottom: 50px;
}

.service-description h2 {
    font-family: 'SailecBold','san-serif';
    font-size: 36px;
    color: #031b4e;
    margin-bottom: 20px;
}

.service-description .row.top p {
    font-family: 'SailecLight','san-serif';
    font-size: 20px;
    color: #5b6987;
}

.service-description h5 {
    font-family: 'SailecBold','san-serif';
    font-size: 18px;
}

.service-description .row.bottom p {
    font-family: 'SailecRegular','san-serif';
    font-size: 16px;
}

.service-description .row.bottom div img {
    margin-bottom: 20px;
}

.service-description ul {
    font-family: 'SailecMedium','san-serif';
    font-size: 16px;
    margin-bottom: 50px;
}

.service-description ul li {
    padding: 15px 20px;
}

.service-description ul li a {
    color: rgba(3, 27, 78, 1);
}


@media screen and (min-width: 768px){
    .hero .motto h1 {
        font-size: 58px;
        white-space: pre-line;
    }
}

@media screen and (min-width: 992px){
    /* MOTTO */
    .hero .motto {
        text-align: left;
    }

    .hero .motto p {
        width: 90%;
    }

    /* SERVICE DESCRIPTIO */
    .service-description ul li {
        display: block;
        text-align: left;
    }

    .service-description .row.bottom {
        text-align: left;
    }
}

@media screen and (min-width: 1140px){
    /* NAVBAR */
    .navbar-nav {
        display: block;
    }

    .navbar-default .navbar-toggle {
        display: none;
    }

    .navbar-header {
        float: left;
    }

    .navbar li a {
        display: inline-block;
    }

    .navbar-nav > li {
        margin: 12px 8px;
    }

    .navbar-nav > li:hover {
        color: #006aff;
    }

    .navbar-default .navbar-nav > li > a {
        color: rgb(3, 27, 79);
        padding: 12px;
    }

    .navbar-default .navbar-nav > li:hover a {
        color: #006aff;
    }

    .navbar-default .navbar-nav > li > a span {
        padding-left: 5px;
    }

    .navbar-nav.nav-button > li > a {
        font-family: 'SailecBold','san-serif';
    }

    .navbar-nav.nav-button > li:first-of-type > a {
        background-color: transparent;
        border: 1px solid #006aff;
        color: #006aff;
        border-radius: 5px;
        padding: 10px 15px;
        transition: all .3s ease-in-out;
    }

    .navbar-nav.nav-button > li:first-of-type:hover > a {
        background-color: #006aff;
        border: 1px solid #006aff;
        color: #ffffff;
    }

    .navbar-nav.nav-button > li:last-of-type > a {
        background-color: #006aff;
        border: 1px solid #006aff;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 24px;
    }

    /* HERO */
    .hero {
    margin-top: 109px;
    }
}

@media screen and (min-width: 1200px){
    /* TOP BANNER */
    .top-banner {
        font-family: 'SailecMedium','san-serif';
        background-color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        color: #5b6987;
        border-bottom: 1px solid rgb(229,232,237);
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
    }

    .top-banner a {
        text-decoration: none;
        color: #5b6987;
    }

    .top-banner a:hover {
        color: #006aff;
    }

    .top-banner div {
        float: left;
    }

    .top-banner div a {
        line-height: 40px;
    }

    .top-banner div a:after {
        content:'\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        margin-left: 5px;
    }

    .top-banner div span {
        margin: 0 10px 0 20px;
        font-size: 9px;
        color: rgb(3,27,78);
        background-color: rgb(0,215,210);
        padding: 3px 8px;
        border-radius: 5px;
    }

    .top-banner ul {
        float: right;
        margin: 0 15px 0 0;
    }

    .top-banner ul li {
        line-height: 40px;
        margin-right: 15px;
    }

    .top-banner ul li a {
        line-height: 40px;
    }

    /* NAVBAR */
    .navbar {
        top: 41px;
    }
}
